.card {
    margin-top: 20px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    flex: 1 1 300px; /* Set the desired width for the image column */
}

.details-container {
    flex: 1 1 300px; /* Set the desired width for the details column */
}

.form-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8; /* Set the background color */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.form-container.dragover {
    background-color: #eaeaea; /* Set the background color when dragging */
}

.dragover {
    border-color: #1E90FF;
}

.drag-info {
    margin-top: 10px;
    font-size: 16px;
}

.drag-icon {
    font-size: 32px;
    color: #1E90FF;
}

.drag-text {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .form-container {
        margin: 0 auto;
    }
}

.page-title {
    text-align: center;
}

@media (max-width: 768px) {
    .result-container {
        flex-direction: column;
    }

    .image-container, .details-container {
        flex: 1 1 auto;
    }
}
